{% extends 'MainBundle::base.html.twig' %}

{% block title %}Быстрое оформление медицинских справок с бесплатной доставкой по Москве - "MSK-medspravki"{% endblock %}
{% block description %}Быстро и недорогого купить медицинскую справку можно в нашем медицинском центре.{% endblock %}
{% block keywords %}купить медицинскую справку, мед справка с доставкой по Москве, справка ребенку, оформление медицинской справки{% endblock %}

{% block content %}
    <section class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slide-img">
                                <img src="{{ asset('bundles/main/images/slide1.jpg') }}" alt="...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="carousel-caption">
                                <p>Большая команда профессионалов поможет легко и быстро сдать любые анализы</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slide-img">
                                <img src="{{ asset('bundles/main/images/slide1.jpg') }}" alt="...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="carousel-caption">
                                <p>Большая команда профессионалов поможет легко и быстро сдать любые анализы</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slide-img">
                                <img src="{{ asset('bundles/main/images/slide1.jpg') }}" alt="...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="carousel-caption">
                                <p>Большая команда профессионалов поможет легко и быстро сдать любые анализы</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="bottom-line"></div>
    </section>

    <section id="text">
        <div class="container">
            <h1>Болезнь – не напасть. Как бы после болезни не пропасть!<br>
                Или где купить справку в Москве?</h1>

            <p align="justify">
                <font color="#00A0E3">Заболев, не так-то просто вылечиться.</font> Даже банальная простуда может дать много неприятных осложнений.
                А вот добавить еще парочку-тройку болезней к уже имеющемуся заболеванию и усугубить состояние легко!
                «Как же так?» - спросите вы. «Я же собираюсь пойти в поликлинику, буду лечиться, принимать лекарства и
                т.д.».
                Вот именно! Во многих случаях корнем зла является посещение государственных поликлиник, где организм, и так
                ослабленный болезнью, с легкостью подхватывает новые инфекции.
                А если срочно нужна справка? Что, если без освобождения на учебе или работе ну совсем никак? Если на носу
                экзамен,
                где без уважительной причины о пересдаче можно не мечтать? Конечно, можно выстоять очередь к бесплатному
                эскулапу, почувствовать себя еще хуже и… вообще не получить справку. Врач может придраться к чему угодно и
                вы
                потеряете и время, и силы, такие необходимые для выздоровления. Проще купить справку и забыть о проблемах!
                </br>
				<font color="#00A0E3">Наш медицинский центр поможет вам не только излечиться, но и получить документ для:</font>
            </p>
            <ul>
                <li>✓ <a href="/osvobozhdenie-ot-fizkultury/">Освобождения от физкультуры</a></li>
                <li>✓ <a href="/bolnichnye-listy/">Получения больничного на работе</a></li>
                <li>✓ <a href="/akademicheskij-otpusk-formy-095u-027u/">Освобождения от учебы</li>
                <li>✓ <a href="/price/">Поездки в оздоравливающие учреждения</a></li>
                <li>✓ <a href="/spravka-v-bassejn/">Допуска в бассейн, спортзал, автошколу</a></li>
            </ul>
            <p align="justify">
                <font color="#00A0E3">Обратите внимание</font>, что здесь вы сможете купить справку ребенку. Маленьким пациентам подобные документы
                заказывают очень часто, потому что родители предпочитают не водить малыша по медицинским учреждениям во
                избежание ухудшения состояния. И это правильно.
                Аккуратность и быстрота: без ошибок и профессионально
                Если вы не желаете «светиться» или просто не имеете возможности приехать за справкой, не беда. Купить
                справку с
                доставкой стало реальностью, причем на срок ее получения этот факт не повлияет.
                Все еще сомневаетесь?
                Волнуетесь, не возникнет ли проблем?
                У вас придирчивое начальство?
                Тогда поспешим вас порадовать: мы работаем только с официальными документами, подделкам не место в нашей
                организации.
				</br>
                <font color="#00A0E3">Также вас порадуют:</font>
            </p>
            <ul>
                <li>✓ Низкие цены: одни из самых доступных в столице</li>
                <li>✓ Возможность купить справку в Москве «задним числом»</li>
                <li>✓ Быстрота обработки вашей заявки без томительного ожидания</li>
            </ul>
            <p align="justify">
                <font color="#00A0E3">Напоследок пожелаем вам</font> вообще не болеть. Ну, а если вы уже заболели, или вы хотите ненадолго «сыграть» в
                пациента – мы поможем со справками. Все виды, все формы на любые числа. Сложно поверить? Обращайтесь, мы
                спасем вас в прямом смысле этого слова!
            </p>
        </div>
    </section>

    <section id="lisences">
        <div class="container">
            <div class="row cf">
                <h2>Наши лицензии</h2>
                <ul class="cf">
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis1.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis2.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis3.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis4.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis5.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis6.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis7.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="lisences">
                            <img src="{{ asset('bundles/main/images/lis8.jpg') }}" alt="Лицензия">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}