{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ spravka.title }}{% endblock %}
{% block description %}{{ spravka.description }}{% endblock %}
{% block keywords %}{{ spravka.keywords }}{% endblock %}

{% block content %}
    <section id="caption">
        <div class="container">
            <h1>
                Купить {{ spravka.name }} задним числом недорого -<br>
                доступная услуга от Мед Центра "Msk-medspravki"
            </h1>
            <div class="row cf">
                <div class="col-md-6 col-sm-6">
                    <div class="buy cf">
                        <h2>{{ spravka.header }}</h2>
                        <p>Цена: <span>{{ spravka.price }}руб</span></p>
                        <a href="#myModal" role="button" class="button" data-toggle="modal">Заказать</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="gallery">
                        <div id="panel">
                            <img id="largeImage" src="{{ asset(spravka.image) }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="text">
        <div class="container">
            {{ spravka.text|raw }}
        </div>
    </section>
{% endblock %}