{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ spravka.title }}{% endblock %}
{% block description %}{{ spravka.description }}{% endblock %}
{% block keywords %}{{ spravka.keywords }}{% endblock %}

{% block content %}
    <section id="caption">
        <div class="container">
           </br>
		   </br>
            <div class="row cf">
                <div class="col-md-6 col-sm-6">
                    <div class="buy cf">
                        <h2>{{ spravka.header }}</h2>
                        <p>Цена: <span>{{ spravka.price }}руб</span></p>
                        <a href="#myModal" role="button" class="button" data-toggle="modal">Заказать</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="gallery">
                        <div id="panel">
                            <a href="{{ asset(spravka.image) }}" data-lightbox="one_photo">
                                <img id="largeImage" src="{{ asset(spravka.image) }}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="text">
        <div class="container">
            {{ spravka.text|raw }}
        </div>
    </section>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('lib/lightbox/lightbox.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('lib/lightbox/lightbox.js') }}"></script>
{% endblock %}