{% extends 'MainBundle::base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <section id="caption">
        <div class="container">
            <h1>
                Купить {{ spravka.name }}больничный лист задним числом недорого -<br>
                доступная услуга от Мед Центра "Msk-medspravki"
            </h1>
            <div class="row cf">
                <div class="col-md-6 col-sm-6">

                    <div class="buy cf">
                        <h2>{{ Spravki[id].title }}</h2>
                        <p>Цена: <span>{{ Spravki[id].prise }}руб</span></p>
                        <a href="#myModal" role="button" class="button" data-toggle="modal">Заказать</a>
                    </div>
                    <div class="social cf">
                        <a class="link" href="#">Отзывы</a>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="gallery">
                        <div id="panel">
                            <img id="largeImage" src="/images/spravki/work/1-1.jpg" />
                        </div>

                        <div id="thumbs">
                            <img src="{{ Spravki[1].src }}" alt="{{ Spravki[1].alt }}" />
                            <img src="{{ Spravki[2].src }}" alt="{{ Spravki[2].alt }}" />
                            <img src="{{ Spravki[3].src }}" alt="{{ Spravki[3].alt }}" />
                            <img src="{{ Spravki[4].src }}" alt="{{ Spravki[4].alt }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="text">
        <div class="container">
            <p>
                Если в конце рабочего дня постоянно появляется раздражительность или депрессия, если
                хочется вырваться от рутины дел и забот и отправиться наконец-то к морю или в горы, если
                ежедневные обязанности на производстве вызывают сплошное раздражение, то пришло время
                передохнуть. Но начальство не дает отпуск? Ваше переутомление, раздражительность, плохое
                самочувствие, бессонница никого не волнуют?
                Пришло время обратиться в Мед Центр «Msk-Medspravki», где вам выдадут больничный на тот срок,
                пока вы будете отдыхать. При этом больничный лист будет официальный. С печатями и подписями
                практикующих врачей, которые готовы помочь вам в решении вопроса высвобождения
                свободного времени.
                Мы предлагаем больничные листы по доступным ценам в Москве каждому, кто не хочет болеть.
                Также мы готовы помочь тем, кто чувствует недомогание, но не может или не хочет ехать в
                поликлинику. Мы готовы сберечь ваше время, предлагая купить официальный больничный лист
                задним числом, заказав его прямо на сайте. И нет необходимости проходить обследование в
                больнице в то время, когда вы себя плохо чувствуете, когда у вас поднялась температура или
                появились первые симптомы ангины или гриппа.
                Купить больничный лист вам потребуется:
            </p>
            <ul>
                <li>• Для предъявления на работе в случае вашего отсутствия без иных уважительных причин.</li>
                <li>• В случае, если вы решили отдохнуть, но не планируете идти в поликлинику.</li>
                <li>• Когда не хочется вызывать врача при недомогании, а поход на работу грозит осложнениями со здоровьем.</li>
                <li>• Когда есть важные нерешенные вопросы, требующие вашего отсутствия на работе.</li>
            </ul>
            <p>
                А еще мы готовы выдать больничный лист задним числом, если вы не успели вызвать врача
                своевременно в силу личных обстоятельств. И, конечно же, мы доставим его на дом по указанному
                адресу, предварительно заполнив его. Достаточно просто заказать больничный лист 2015, и вы
                сами будете решать, на что хотите потратить своё время.
                Неоспоримым преимуществом обращения в наш медицинский центр является профессиональный
                подход специалистов к выбору причины открытия больничного листа, исходя из занимаемой
                должности заказчика и сферы деятельности компании-работодателя.
                Это имеет первостепенное значение для большинства специалистов отдела персонала.
                Существуют ограничения по охране труда и технике безопасности, прописывающие запрет на
                выполнение определенных работ людям, перенесшим ряд заболеваний.
                Наши врачи готовы выдать медицинское заключение о перенесенном заболевании, согласно
                установленному образцу. Легальность документа подтверждена печатями специалистов и это
                является необходимым основанием для осуществления выплат ОМС.
                Специалисты нашего медицинского центра также оказывают консультации по выбору причины
                выдачи больничного листа. Если сотрудник возвращается после болезни с легким загаром, то у
                руководства часто возникает много лишних вопросов. Особенно, если в больничном листе указано,
                что человек перенес отравление или ОРВИ. Но если в качестве причины заболевания выбрано
                какое-либо заболевание опорно-двигательного аппарата, то лечение могло быть проведено в
                клинике или санатории южного региона.
            </p>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#thumbs').delegate('img','click', function(){
                $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
            });
        });
    </script>
{% endblock %}