<section id="popylar">
    <div class="container">
        <h1>Популярные справки</h1>
        <div class="row cf">
            {% for item in popular %}
            <div class="col-md-4 col-sm-6">
                <div class="spr">
                    <h3>{{ item.name }}</h3>
                    <div class="clg">
                        <div class="item">
                            <img src="{{ asset(item.image) }}" alt="{{ item.name }}">
                            <div class="desc">
                                <p class="prise">{{ item.price }} руб</p>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/main/images/spr_bg.png') }}" alt="background">
                    </div>

                    <a href="#myModal" role="button" class="button" data-toggle="modal">Заказать</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>