<section id="popylar">
    <div class="container">
        <!-- 
		<h1>Популярные справки</h1>
        <div class="row cf">
            {% for item in popular %}
            <div class="col-md-4 col-sm-6">
                <div class="spr">
                    <h3>{{ item.name }}</h3>
                    <div class="clg">
                        <div class="item">
                            <img src="{{ asset(item.image) }}" alt="{{ item.name }}">
                            <div class="desc">
                                <p class="prise">{{ item.price }} руб</p>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/main/images/spr_bg.png') }}" alt="background">
                    </div>

                    <a href="#myModal" role="button" class="button" data-toggle="modal">Заказать</a>
                </div>
            </div>
            {% endfor %}
        </div>
		-->
    </div>
</section>

{% block modal %}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                </div>

                <div class="modal-body">
                    <section id="orders">
                        <p><font size=16; color="#00A0E3">Оформление заказа</font></p>
                        <p>Для заказа позвоните по номеру 8 495 969 47 07 или заполните форму ниже и мы свяжемся с вами.</p>
                        <div class="form">
                            <form action="/order/create" method="post" autocomplete="on" enctype="multipart/form-data" id="form">
                                <label for="name">
                                    ФИО: *
                                    {{ form_widget(form.fio) }}
                                </label>
                                <div class="alert alert-danger form_error" role="alert" id="fio_error">
                                </div>

                                <label for="email">
                                    E-mail адрес:
                                    {{ form_widget(form.email) }}
                                </label>
                                <div class="alert alert-danger form_error" role="alert" id="email_error">
                                </div>

                                <label for="number">
                                    Телефон: *
                                    {{ form_widget(form.phone) }}
                                </label>
                                <div class="alert alert-danger form_error" role="alert" id="phone_error">
                                </div>

                                <label for="order">
                                    Название справки: *
                                    {{ form_widget(form.subject) }}
                                </label>
                                <div class="alert alert-danger form_error" role="alert" id="subject_error">
                                </div>

                                <label for="message">
                                    Сообщение: *
                                    {{ form_widget(form.message) }}
                                </label>
                                <div class="alert alert-danger form_error" role="alert" id="message_error">
                                </div>

                                <label for="file">
                                    Прикрепить файл:
                                    {{ form_widget(form.file) }}
                                </label>
                                <div class="alert alert-danger form_error" role="alert" id="file_error">
                                </div>

                                <input type="submit" value="Отправить" class="button">
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}